@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

[x-cloak] {
  display: none;
}

:root {
  @apply overscroll-y-none
}

body {
  @apply font-sans antialiased bg-gray-50 text-gray-800
}

header {
  @apply bg-sinai-light-blue
}

main {
  @apply mt-8
}

.indent {
    @apply md:ml-4 block
}
